body {
  font-family: Georgia, serif;
<link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap" rel="stylesheet">
  background-color: #fdf6e3;
  font-size: 4rem;
  text-align: center;
  padding: 5rem;

}

h1 {
font-family: 'Cormorant Garamond', serif;
  color: #333;
}

p {
  font-size: 23px;
}



